Repository epam/dial-xl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, lint_qgbot, publish_backend, publish_frontend, publish_qgbot, container_scanning_frontend, container_scanning_backend, run_fronted_e2e_tests_default_1, run_fronted_e2e_tests_default_2, run_fronted_e2e_tests_default_3, run_fronted_e2e_tests_hidden, run_fronted_e2e_tests_chat, run_fronted_e2e_tests_flaky, copy_integration_test_files_qgbot, integration_test_qgbot, prepare_report

Path conditions:
  build_backend: any of: backend/**/*, infrastructure/**/*
  build_frontend: any of: frontend/**/*, backend/parser/src/main/antlr/com/epam/deltix/quantgrid/parser/**/*, infrastructure/**/*
  lint_qgbot: any of: python/**/*, infrastructure/**/*
  publish_backend: any of: backend/**/*, infrastructure/**/*
  publish_frontend: any of: frontend/**/*, infrastructure/**/*, backend/parser/src/main/antlr/com/epam/deltix/quantgrid/parser/**/*
  publish_qgbot: any of: python/**/*, infrastructure/**/*
  container_scanning_frontend: any of: frontend/**/*, backend/parser/src/main/antlr/com/epam/deltix/quantgrid/parser/**/*, infrastructure/**/*
  container_scanning_backend: any of: backend/**/*, infrastructure/**/*
  run_fronted_e2e_tests_default_1: any of: frontend/**/*, backend/**/*, infrastructure/**/*
  run_fronted_e2e_tests_default_2: any of: frontend/**/*, backend/**/*, infrastructure/**/*
  run_fronted_e2e_tests_default_3: any of: frontend/**/*, backend/**/*, infrastructure/**/*
  run_fronted_e2e_tests_hidden: any of: frontend/**/*, backend/**/*, infrastructure/**/*
  run_fronted_e2e_tests_chat: any of: frontend/**/*, backend/**/*, infrastructure/**/*
  run_fronted_e2e_tests_flaky: any of: frontend/**/*, backend/**/*, infrastructure/**/*
  copy_integration_test_files_qgbot: any of: python/**/*, infrastructure/**/*, backend/**/*
  integration_test_qgbot: any of: python/**/*, backend/**/*, infrastructure/**/*
  prepare_report: any of: frontend/**/*, backend/**/*, infrastructure/**/*

Update to 0.0.23
  frontend/apps/quantgrid/index.html
  frontend/apps/quantgrid/public/external-env.js
  frontend/apps/quantgrid/src/app/components/Dashboard/DashboardAppHeader.tsx
  frontend/apps/quantgrid/src/app/components/Project/Project.tsx
  frontend/apps/quantgrid/src/app/context/ViewportContext/ViewGridData.ts
  frontend/apps/quantgrid/src/app/context/ViewportContext/ViewportChartBuilder.ts
  frontend/apps/quantgrid/src/app/hooks/EditDsl/useChartEditDsl.ts
  frontend/libs/common/src/globals.d.ts
  frontend/libs/common/src/lib/components/SizeDropdownItem/SizeDropdownItem.tsx
  infrastructure/k8s/quantgrid-main-values.yaml
  infrastructure/k8s/quantgrid-review-values.yaml
  python/assistant/experiments/hints/hints.ipynb
  python/assistant/testing/__init__.py
Due: build_backend, build_frontend, lint_qgbot, publish_backend, publish_frontend, publish_qgbot, container_scanning_frontend, container_scanning_backend, run_fronted_e2e_tests_default_1, run_fronted_e2e_tests_default_2, run_fronted_e2e_tests_default_3, run_fronted_e2e_tests_hidden, run_fronted_e2e_tests_chat, run_fronted_e2e_tests_flaky, copy_integration_test_files_qgbot, integration_test_qgbot, prepare_report

Update to 0.0.24
  .gitlab-ci.yml
  infrastructure/k8s/dial-review-values.yaml
  infrastructure/k8s/qgbot-main-values.yaml
  infrastructure/k8s/qgbot-review-values.yaml
  python/assistant/quantgrid_1/action_prompt.md
  python/assistant/quantgrid_1/chains/action_fixer.py
  python/assistant/quantgrid_1/prompts.py
  python/assistant/testing/scenarios/business_scenarios/test_casualties.py
  python/assistant/testing/scenarios/integration_scenarios/test_aggregations.py
  python/assistant/testing/scenarios/integration_scenarios/test_awareness.py
Due: build_backend, build_frontend, lint_qgbot, publish_backend, publish_frontend, publish_qgbot, container_scanning_frontend, container_scanning_backend, run_fronted_e2e_tests_default_1, run_fronted_e2e_tests_default_2, run_fronted_e2e_tests_default_3, run_fronted_e2e_tests_hidden, run_fronted_e2e_tests_chat, run_fronted_e2e_tests_flaky, copy_integration_test_files_qgbot, integration_test_qgbot, prepare_report

Update to 0.0.25
  python/xl-client/dial_xl/overrides.py
  python/xl-client/tests/test_overrides.py
Due: lint_qgbot, publish_qgbot, copy_integration_test_files_qgbot, integration_test_qgbot

chore: prettify readme
  README.md
Due: none

chore: prettify readme (#8)
  README.md
Due: none

chore: Update community name in readme
  README.md
Due: none

chore: Update community name in readme (#9)
  README.md
Due: none

cleanup
  python/assistant/docs/mvp_requirements.md
  python/assistant/experiments/hints/disney-questions.xlsx
  python/assistant/experiments/hints/hints.ipynb
  python/assistant/experiments/hints/prompts/multi-selection.md
  python/assistant/experiments/hints/prompts/single-selection.md
  python/assistant/tests/test_mock.py
  python/assistant/tests/test_resources/project1.dsl
Due: lint_qgbot, publish_qgbot, copy_integration_test_files_qgbot, integration_test_qgbot

update
  python/assistant/.env.example
  python/assistant/Makefile
  python/assistant/poetry.lock
  python/assistant/pyproject.toml
  python/assistant/resources/actions/dial_xl_doc.md
  python/assistant/resources/actions/human.jinja
  python/assistant/resources/actions/system.md
  python/assistant/resources/actions/workspace.jinja
  python/assistant/run.py
  python/assistant/settings.toml
  python/assistant/src/dial/xl/assistant/__main__.py
  python/assistant/src/dial/xl/assistant/completion.py
  python/assistant/src/dial/xl/assistant/dto/generation_parameters.py
  python/assistant/src/dial/xl/assistant/dto/message_state.py
  python/assistant/src/dial/xl/assistant/graph/actions/_actions.py
  python/assistant/src/dial/xl/assistant/graph/actions/_aggregate_project_data.py
  python/assistant/src/dial/xl/assistant/graph/actions/_apply_actions.py
  python/assistant/src/dial/xl/assistant/graph/actions/_format_project_data.py
  python/assistant/src/dial/xl/assistant/graph/actions/_render_project_state.py
  python/assistant/src/dial/xl/assistant/graph/actions/graph.py
  python/assistant/src/dial/xl/assistant/graph/state.py
  python/assistant/src/dial/xl/assistant/loading/load_credential.py
  python/assistant/src/dial/xl/assistant/loading/load_mlflow.py
  python/assistant/src/dial/xl/assistant/log.py
  python/assistant/src/dial/xl/assistant/utils/xl/iterate.py
  python/assistant/tests/config.py
  python/assistant/tests/conftest.py
  python/assistant/tests/test_mock.py
  python/assistant/tests/test_resources/project1.dsl
Due: lint_qgbot, publish_qgbot, copy_integration_test_files_qgbot, integration_test_qgbot
